body {
  background-color: #f9f8eb;
  font-family: 'Source Sans Pro', sans-serif;
}

#sidebar {
  position: fixed;
  width: 15%;
  min-width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 100px 30px;
  font-size: 25px;
  /*border-right: 2px solid rgba(0,0,0,0.5);*/
  background-color: #7293a0;
}

#sidebar a {
  font-family: 'Roboto Slab', serif;
  color: rgba(255,255,255,0.5);
}

#sidebar a:hover {
  color: rgba(0,0,0,0.3);
}

#page-content {
  margin-left: 300px;
}

#profile {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  margin-top: 15px;
}

.film_pic {
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.list-inline >li {
  display: inline-block;
  padding: 20px;
}

.list-inline {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: #155e63;
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  margin-top: 15px !important;
}

td {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,0.4);
}

a:hover {
  color: rgba(255,255,255,0.4);
}

.block {
  width: 70%;
  max-width: 700px;
  background-color: #53aaaa;
  margin: 25px auto;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.1);
}

.text-center {
  text-align: center;
}

.table h2 {
  margin-bottom: 30px
}

.table h3 {
  margin-bottom: 35px;
}

.text-justify {
  text-align: justify;
}

@media (max-width: 920px) {
  /* For a screen < 720px, this CSS will be read */
  .block {
    margin-left: 50px;
  }

  #sidebar {
    position: fixed;
    padding: 100px 30px;
    font-size: 25px;
    background-color: #7293a0;
  }

  td {
    display: block;
    padding-bottom: 15px;
  }

  #profile {
    width: 90%;
  }

  .film_pic {
    width: 90%;
  }

  #page-content {
    margin-left: 150px;
  }

}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .block {
    min-width: 400px;
    margin-left: 50px;
  }

  .list-inline >li {
    padding: 20px;
  }

  td {
    display: block;
    padding-bottom: 15px;
  }

  #profile {
    width: 90%;
  }

  .film_pic {
    width: 90%;
  }

  #page-content {
    margin-left: 150px;
  }
}
